<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="digitalsloths.socialtables">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/social_table_launcer_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".basefunctions.presenter.MainMenuPresenterImpl"
                  android:launchMode= "singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".basefunctions.presenter.ErrorPresenterImpl"
            android:label="@string/error_view"
            android:theme="@android:style/Theme.Dialog"
            />

        <activity
            android:name=".profile.presenter.ProfilePresenterImpl"
            android:label="@string/profile_view"
            />

        <activity
            android:name=".games.battleship.presenter.WaitingOpponentPresenterImpl"
            android:label="@string/waiting_opponent_view"
            />

        <service
            android:name=".basefunctions.model.BeaconServiceImpl"
            android:label="@string/beacon_service"
            android:enabled="true"
            />

        <activity
            android:name=".profile.view.ProfileViewImpl"
            android:label="@string/profile_view"
            />

        <activity
            android:name=".games.utility.presenter.GamesListPresenterImpl"
            android:label="@string/game_list_view"
            />

        <activity
            android:name=".games.battleship.presenter.CreateTeamPresenterImpl"
            android:label="@string/create_team_view"
            />
        <activity
            android:name=".games.battleship.presenter.JoinTeamPresenterImpl"
            android:label="@string/join_team_view"
            />
        <activity
            android:name=".games.battleship.presenter.TeamManagementPresenterImpl"
            android:label="@string/team_management_view"
            />

        <activity
            android:name=".games.battleship.presenter.StartGamePresenterImpl"
            android:label="@string/main_battleship_view"
            />

        <activity
            android:name=".games.battleship.presenter.SelectShipPositionPresenterImpl"
            android:label="@string/select_ship_view"
            />
        <activity
            android:name=".games.battleship.presenter.AttackPhasePresenterImpl"
            android:label="@string/enemy_attack_phase_view"
            />
        <activity
            android:name=".games.battleship.presenter.EnemyAttackPhasePresenterImpl"
            android:label="@string/enemy_attack_phase_view"
            />

        <activity
            android:name=".games.battleship.presenter.FinalScorePresenterImpl"
            android:label="@string/final_score_view"
            />

        <activity
            android:name=".games.utility.presenter.LeaderboardPresenterImpl"
            android:label="@string/leaderboard_view"
        />

        <activity
                android:name=".games.battleship.presenter.BattleshipManagerImpl"
                android:theme="@android:style/Theme.NoDisplay"
        />

    </application>

</manifest>